<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" routerLink="home" routerLinkActive="router-link-active">Pelis xD</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>

        <div class="form-inline my-2 my-lg-0">
            <input #txtBuscar (keyup.enter)="buscarPelicula(txtBuscar.value)" class="form-control mr-sm-2" type="search" placeholder="Buscar pelicula" aria-label="Search">
            <button (click)="buscarPelicula(txtBuscar.value)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </div>
    </div>
</nav>