<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__bounce" *ngFor="let movie of movies">
        <img [src]="movie.poster_path | poster" class="img-fluid poster" (click)="onMovieClick(movie)">
        <div>
            <h3>{{ movie.title}}</h3>
            <div class="row">
                <div class="col-10 text-white">
                    <star-rating [value]="movie.vote_average" totalstars="10" checkedcolor="yellow" uncheckedcolor="grey" size="12px" readonly="false" (rate)="onRate($event)"></star-rating>
                </div>
                <div class="col-2 text-white">{{movie.vote_average | number:'1.1-2'}}</div>
            </div>
        </div>
    </div>

</div>