<div class="row animate__animated animate__bounce" *ngIf="movie">
    <div class="col-md-6">
        <img [src]="movie.poster_path | poster" [alt]="movie.title" class="img-thumbnail">
    </div>

    <div class="col-md-6">
        <h3>{{ movie.title}}</h3>

        <div class="row">
            <div class="col">

                <star-rating [value]="movie.vote_average" totalstars="10" checkedcolor="yellow" uncheckedcolor="grey" size="15px" readonly="false" (rate)="onRate($event)"></star-rating>
            </div>
            <div class="col  text-white">{{ movie.vote_average | number:'1.1-2' }}</div>
        </div>

        <div class="row mt-3">
            <div class="col text-white">{{ movie.overview }}</div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <button class="btn btn-outline-info" (click)="onRegresar()">Regresar </button>
            </div>
        </div>


    </div>
</div>

<div class="row mt-5">
    <div class="col" *ngIf="cast.length>0">
        <app-cast-slideshow [cast]="cast"></app-cast-slideshow>

    </div>
</div>