<h1>Cartelera</h1>
<div class="row" *ngIf="movies.length>0">
    <div class="col">

        <app-slideshow [movies]="movies"></app-slideshow>
    </div>
</div>

<h1 class="mt-5">Peliculas</h1>

<!-- <div class="row" *ngIf="movies.length>0">
    <div class="col"> -->
<app-peliculas-poster-grid *ngIf="movies.length>0" [movies]="movies"></app-peliculas-poster-grid>
<!-- </div>
</div> -->