<h1>Buscar peliculas <small class="text-capitalize">{{ valorsBuscado }}</small></h1>
<hr>
<div class="row">
    <div class="col">
        <app-peliculas-poster-grid [movies]="movies"></app-peliculas-poster-grid>

    </div>
</div>